<h1>Ask Your question</h1>

<form action="/answer" method="get">
  <input type="text" name="coach" value="<%= params[:question] %>" placeholder="What is your question?">
  <input type="submit">
</form>
